body {
    font-family: Arial, sans-serif;
    background-color: #cfc9c9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

p {
    font-size: 0.9em;
    color: #777;
}

.cuadro {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 1em;
    background-color: bbf8f0;
}

.boton {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #5cb85c;
    color: white;
    font-size: 1em;
    cursor: pointer;
    margin: 0 1%;
    transition: background-color 0.3s;
}

.boton:hover {
    background-color: #4cae4c;
}

.boton[type="reset"] {
    background-color: #d9534f;
}

.boton[type="reset"]:hover {
    background-color: #c9302c;
}
